@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
html {
  padding: 0;
	margin: 0;
	border: 0;
  width: 100%;
  background-image: url(../img/sky.jpg);

}

/* body{
  text-align: center
} */

#root{
  background-color: rgb(3 151 255 / 86%);
  border-radius: 15px;
  margin: 0 auto;
  width: 1440px;
}

.search_city {
  display: flex;
}

